name: lint_rules
description: Regras de lint compartilhadas para o monorepo
version: 0.1.0+1
publish_to: none

resolution: workspace

environment:
  sdk: ^3.8.0

dependencies:
  very_good_analysis: ^9.0.0
